<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grade Prediction</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Add your custom CSS here */
    </style>
</head>
<body>
    <header>
        <h1>Student Grade Prediction</h1>
    </header>
    <div class="container">
        <div class="form-card">
            <form action="/predict" method="POST">
                <h2>Categorical Features</h2>
                {% for feature, label in categorical_feature_labels.items() %}
                    <label for="{{ feature }}">{{ label }}</label>
                    <select name="{{ feature }}" id="{{ feature }}" required>
                        <option value="">Click Here</option>
                        {% for option in features[feature] %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select><br><br>
                {% endfor %}

                <h2>Numerical Features</h2>
                <h3>Entrance Exam Scores</h3>
                {% for feature in entrance_exam_features %}
                    <label for="{{ feature }}">{{ feature }}:</label>
                    <input type="number" name="{{ feature }}" id="{{ feature }}" required><br><br>
                {% endfor %}

                <h3>Marks Obtained in Previous Year 1</h3>
                {% for feature in marks_obtain_in_year_1 %}
                    <label for="{{ feature }}">{{ feature }}:</label>
                    <input type="number" name="{{ feature }}" id="{{ feature }}" required><br><br>
                {% endfor %}

                <h3>Marks Obtained in Previous Year 2</h3>
                {% for feature in marks_obtain_in_year_2 %}
                    <label for="{{ feature }}">{{ feature }}:</label>
                    <input type="number" name="{{ feature }}" id="{{ feature }}" required><br><br>
                {% endfor %}

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
