# pip install -r requirements.txt
# 1. Requirements for the speech recognition project
openai-whisper
sounddevice
scipy
numpy
langdetect
pydub

# Core
numpy
pandas
scikit-learn

# Audio
sounddevice
librosa

# Speech-to-text
openai-whisper

# NLP & Semantics
sentence-transformers
yake

# Grammar
language-tool-python

# Utilities
tqdm
regex
